.container {
  background-color: #303841;
  padding: 20px 0;
  flex: 1;
  position: relative;
}

.renderMovies_container {
  display: flex;
  flex-wrap: wrap;
}
.pagination_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.effect {
  position: absolute;
  bottom: -1px;
  right: 0;
  width: calc(92vw / 2);
}
